.Blog-Pageheading-1 {
    font-size: 50px;
    font-family: "Honk", system-ui;
    display: flex;
    justify-content: center;
}

.Blog-about {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(219, 218, 218);
    border: solid black;
    border-radius: 30px;
}

.Blog-about {
    margin: auto;
}