.Services-title {
    font-size: 50px;
    font-family:"Honk", system-ui;
    display: flex; 
    justify-content: center;
    margin-top: 50px;


}

.Services-picture img {
    height: 200px;
    background-color: rgb(252, 250, 250);
    padding: 10px;
    background-color: rgb(250, 248, 248);
    border: solid rgb(8, 8, 7);
    border-width: 8px;
}

.Services-picture { 
    margin-top: 60px;
    display: flex;
}

h3 {
    position:absolute;
    font-family:"Honk", system-ui;
    background-color: rgb(6, 6, 6);
    padding: 10px;
    border: solid rgb(8, 8, 7);
    border-width: 8px;
}